{{ define "content" }}

  <article class="post post-full">
    <header class="post-header bg-gradient outer">
      {{ with .Params.featured_image }}
      <div class="bg-img" style="background-image: url('{{ . | relURL }}')"></div>
      {{ end }}
      <div class="inner-small">
        {{ with .Params.meeting_date }}
        <div class="post-meta">
          <time class="published" datetime="{{ . | dateFormat "2006-01-02" }}">{{ . | dateFormat "Monday, January 2, 2006" }}</time>
        </div><!-- .post-meta -->
        {{ end }}
        <h1 class="post-title">{{ .Params.title }}</h1>
        {{ with .Params.excerpt }}
        <div class="post-subtitle">
          {{ . | safeHTML }}
        </div><!-- .post-subtitle -->
        {{ end }}
      </div><!-- .inner-small -->
    </header><!-- .post-header -->
    <div class="outer">
      <div class="inner-medium">
        <div class="post-content">
          {{ .Content }}
        </div><!-- .post-content -->
      </div><!-- .inner-medium -->
    </div><!-- .outer-->
  </article><!-- .post -->

  <!-- Next/previous post navigation TBD -->
  <!--
  <div class="outer">
    <div class="inner-medium">
      <nav class="read-next">
        <h2 class="read-next-title line-left">Read Next</h2>
        <div class="nav-links">
          <article class="post">
            <div class="post-meta">
              <time class="published" datetime="">Previous post date</time>
            </div>
            <h3 class="post-title"><a href="#" rel="bookmark">Previous Post Title</a></h3>
          </article>
          <article class="post">
            <div class="post-meta">
              <time class="published" datetime="">Next post date</time>
            </div>
            <h3 class="post-title"><a href="#" rel="bookmark">Next Post Title</a></h3>
          </article>
        </div>
      </nav>
    </div>
  </div>
  -->

{{ end }}
